/* body {
  width: 100%;
} */
.grid-game {
  display: flex;
  justify-content: center;

  background-color: aquamarine;
  width: 100%;
  gap: 30px;
}

.tile {
  width: 150px;
  height: 200px;
  background-color: rgb(148, 148, 236);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
