body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 102, 203, 0.27);
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
}

html,
body {
  height: 100%;
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-weight: inherit;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  padding: 2rem;
  padding-top: 4rem;
}

.grid-game {
  display: grid;
  width: 100%;
  gap: 3px;
}

.grid-game.game-started .tile.tile.pair-not-found {
  cursor: pointer;
}

.grid-game.game-not-started {
  opacity: 50%;
}

.grid-col-3 {
  grid-template-columns: repeat(3, minmax(50px, 150px));
}

.grid-col-6,
.grid-col-8 {
  grid-template-columns: repeat(4, minmax(50px, 150px));
}

.grid-col-10 {
  grid-template-columns: repeat(5, minmax(50px, 150px));
}

.grid-col-12 {
  grid-template-columns: repeat(6, minmax(50px, 150px));
}

.tile {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.tile.pair-not-found {
  background-color: rgb(148, 148, 236);
}

.content-wrapper {
  display: flex;
  height: calc(100% - 100px);
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(161, 101, 234, 0.43);
  width: 250px;
}

.leaderboard-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.leaderboard-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.leaderboard-score {
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 1rem;
}

.game-mode {
  all: unset;
  padding: 0.5rem;
  background-color: #e5e5e5;
  border: solid .1rem black;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: rgb(148, 148, 236);
}

.game-mode option {
  border-radius: .5rem;
}

.game-mode:hover {
  cursor: pointer;
  background-color: rgb(148, 148, 236);
  color: white;
}

.navbar {
  background: rgb(148, 148, 236);;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.navbar a {
  all: unset;
  cursor: pointer;
}

.navbar h1:hover {
  color: white
}

.navbar h1 {
  margin: 0;
} 

.navbar .nav-btn {
  all: unset;
  cursor: pointer;
  font-weight: 500;
  border: solid .1rem black;
  padding: .5rem;
  border-radius: .5rem;
  background-color: #e5e5e5;
  color: rgb(148, 148, 236);
}

.navbar .nav-btn:hover {
    background-color: rgba(161, 101, 234, 0.43);
    color: white
}

.navbar .navbar-right-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar .navbar-right-content .user-connected {
  font-weight: bold;
}