/* body {
  width: 100%;
} */
.grid-game {
  display: grid;
  width: 100%;
  justify-content: center;
  gap: 10px;
  background-color: aquamarine;
}

.grid-col-3 {
  grid-template-columns: repeat(3, minmax(0, 150px));
}

.grid-col-6,
.grid-col-8 {
  grid-template-columns: repeat(4, minmax(0, 150px));
}

.grid-col-10 {
  grid-template-columns: repeat(5, minmax(0, 150px));
}

.grid-col-12 {
  grid-template-columns: repeat(6, minmax(0, 150px));
}

.tile {
  /*max-width: 150px;*/
  width: 100%;
  aspect-ratio: 3 / 4;
  /*height: auto;*/
  /*min-height: 50px;*/
  background-color: rgb(148, 148, 236);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
